<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="apps-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-label>Favorites</ion-label>
      <ion-icon name="heart-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-label>Profile</ion-label>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
