ion-tab-button {
  --background: #fff;
  --color-selected: #0e172c;
  --color: #0e172c;
}
ion-tab-bar {
  padding: 10px;
  --border: none;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
ion-tabs {
}
ion-label {
  color: #0e172c;
}
ion-icon {
  font-size: 35px;
  color: #0e172c;
}